.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10rem;
    /* 'all' transitions will be finished being animated within .2 seconds */
    transition: all 0.2s;

    /* currently this button is only an anchor tag, which is an inline element
  we want to add margin/padding to top/bottom of button
  so change the display to inline-block to get the box model marg/pad
  */
    display: inline-block;
    padding: 1.5rem 4rem;

    /* set the position property to relative to get the psuedo element behind the button */
    position: relative;
    font-size: $default-font-size;

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3rem);
    /* box shadow arguments are X Y blur color */
    box-shadow: 0 1px 2rem rgba($color-black, 0.2);

    &::after {
      /* scale(), scaleX(), scaleY() will double the size of the element */
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }

  /* styling with psuedo elements */
  &::after {
    content: "";
    /* model the psuedo element after the button */
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    /* get the psuedo element behind the button */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all 0.4s;
  }

  &--white::after {
    background-color: $color-white;
  }

  &--animated {
    /* short hand = animation-name, duration, timing-function, delay  */
    animation: moveInButton 0.5s ease-out 0.75s;
    /* these keyframes will be applied in reverse order before the animation starts */
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 15);
    transform: translateY(0);
  }
}
